#year-slider{
    width : 500px;
    float: left;
}
#map-box{
    margin : 10px;
}
#test-graph{
    width : 600px;
    position: relative;
}
#test-dropdown{
    width : 100px;
}
#departements{
    width : 200px;
}
#round-select{
    width: 200px;
}
.drop-down-year{
    width: 600px;
}
.inline-graph{
    display: flex;
}
.option-display{
    /*display: flex;*/ 
    display: block;  
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}